* {
    box-sizing: border-box;
}
p{
    padding: 5px;
}
body, html {
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 480px;
}

#background {
    width: 100%;
    height: 100%;
    border-radius: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;

}

.layout {
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    box-sizing: border-box;
    color: white; /* 设置文字颜色 */
    font-family: Arial, sans-serif; /* 设置字体 */
    text-align: center; /* 文字居中 */
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vertical p{
    text-align:  center;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

/*以下为单个元素的样式*/
#frame1 {
    height: 440px;
    width: 440px;
    background-color: #333;
}

#frame1 p {
    margin: 10px 0;
    line-height: 1.5;
}

#frame2 {
    height: 440px;
    width: 440px;
    background-color: #333;
    justify-content: center;
    align-items: center;

}

#frame2 .weather-icon i {
    font-size: 150px;
    line-height: unset;
    text-align: unset;

}

#frame3 {
    height: 440px;
    flex-grow: 1;
    background-color: #333;
    background-position: right top;
    background-repeat: no-repeat;

}

#current-time {
    font-size: 135px;

}

#current-date {
    font-size: 30px;
}

#current-lunar {
    font-size: 20px;
}

.weather-icon {

}

#current-weather {
    margin: 10px 0;
    text-align: center;
}

#temperature-bar {
    width: 5px;
    height: 200px;
    /*background: linear-gradient(to bottom, #FF4500, #427BFF);*/
    border-radius: 3px;
    background-image: url("../images/temp_bar_bg.png");
    background-repeat: repeat-x;
}

.next-12-hours{
    justify-content: space-around;
}
.next-12-hours p{
    width: 70px;
    height: 30px;
    display: block;
}
.temp-forecast{
    display: flex;
    margin: 0;
    height: 130px;
    justify-content: flex-end;
}
.temp-node{
    width: 5px;
    border-radius: 3px;
    background-image: url("../images/temp_bar_bg.png");
    background-repeat: repeat-x;
}
.next-hours-text{
    margin: 10px 0;
    width: 70px;
    border: #777777 solid 10px;
    border-radius: 10px;
    display: block;
    background-clip: padding-box;
    background-color: #777777;

}
.precip-forecast{
    display: flex;
    margin: 0;
    height: 110px;
    justify-content: flex-start;

}
.precip-node {
    width: 20px;
    background-color: #30879C;
}
#frame3 i{
    font-size: 30px;
}
#weather-snapshot{
    font-size: 20px;
}