*{
    box-sizing: border-box;
}
body, html {
    overflow-y:hidden;
    overflow-x:hidden;
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 480px;
}

.my-background {
    width: 100%;
    height: 100%;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.my-square, .my-rectangle {
    margin: 10px;
    border-radius: 15px;
    box-sizing: border-box;
}
.my-square {
    margin: 10px;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #333; /* 添加背景颜色 */
    color: white; /* 设置文字颜色 */
    font-family: Arial, sans-serif; /* 设置字体 */
    text-align: center; /* 文字居中 */
}

.my-square p {
    margin: 10px 0; /* 调整段落之间的间距 */
    font-size: 18px; /* 设置字体大小 */
    line-height: 1.5; /* 设置行高 */
}

.my-square p:nth-child(odd) {
    font-weight: bold; /* 奇数段落加粗 */
}
.my-square {
    height: 440px;
    width: 440px;
    background-color: #333;
}

.my-rectangle {
    height: 440px;
    width: 960px;
    background-color: #444;
}
