* {
    box-sizing: border-box;
}

body, html {
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 480px;
}

#background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.layout {
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #333; /* 添加背景颜色 */
    color: white; /* 设置文字颜色 */
    font-family: Arial, sans-serif; /* 设置字体 */
    text-align: center; /* 文字居中 */
}

.vertical {

}

.horizontal {

}

/*以下为单个元素的样式*/
#frame1 {
    height: 440px;
    width: 440px;
    background-color: #333;

}

#frame1 p {
    margin: 10px 0; /* 调整段落之间的间距 */
    font-size: 18px; /* 设置字体大小 */
    line-height: 1.5; /* 设置行高 */
}

#frame2 {
    height: 440px;
    width: 440px;
    background-color: #333;

}

#frame3 {
    height: 440px;
    width: 440px;
    background-color: #333;

}

#current-time {
    font-size: 140px;

}

#current-date {
    font-size: 30px;
}

#current-lunar {
    font-size: 20px;
}

.weather-icon {

}

#current-weather {
    align-self: flex-start;
}

.square .weather-icon i {
    font-size: 150px;
    line-height: unset;
    text-align: unset;

}

.vertical {

}

.horizontal {
    float: left;
}