<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="/static/QWeather-Icons-1.6.0/font/qweather-icons.css" rel="stylesheet">
    <link href="/static/css/style-zh.css" rel="stylesheet">
    <script src="/static/js/lunar.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="my_background {{ data.current_weather_bg_class }}" style="border-radius:0">
    <div class="my-container">
        <div class="my-square">
            <p title="现在时间" id="current-time"></p><br>
            <p title="现在日期" id="current-date"></p><br>
            <p title="现在星期" id="current-weekday"></p><br>
            <p title="现在阴历" id="current-lunar"></p><br>
        </div>
        <div class="my-square">
            <div id="weather-icon" style="display: block;width: 100px;height: 100px">
                <p title="今日天气图标"><i class="qi-{{ data.now_icon }}"></i></p>
            </div>
            <div id="current-weather">
                <p title="当前天气描述">{{ data.now_weather }}</p><br>
            </div>
            <div id="today-temp">
                <p title="当天最低温度">{{ data.today_lowest_temp }}</p><br>
                <p title="当前气温">{{ data.now_temp }}</p><br>
                <p title="当天最高温度">{{ data.today_highest_temp }}</p><br>
            </div>
        </div>
        <div class="my-rectangle">


        </div>
    </div>
</div>
<script>
    // 更新当前时间
    function updateCurrentTime() {
        var currentTime = new Date();
        var minutes = currentTime.getMinutes();
        var seconds = currentTime.getSeconds();

        // 计算距离下一分钟的延迟时间
        var delay = (60 - seconds) * 1000;

        // 更新当前时间
        var hours = currentTime.getHours();
        var timeString = hours.toString().padStart(2, '0') + ':' + minutes.toString().padStart(2, '0');
        document.getElementById('current-time').innerHTML = timeString;

        // 下一分钟时执行更新操作
        setTimeout(updateCurrentTime, delay);
    }

    // 更新当前时间
    updateCurrentTime();

    // 获取当前日期
    var options = {year: 'numeric', month: 'long', day: 'numeric'};
    var currentDate = new Date().toLocaleDateString('zh-CN', options);

    // 获取当前星期几
    var currentWeekday = new Date().toLocaleDateString('zh-CN', {weekday: 'long'});

    // 获取当前农历
    var lunarString = Solar.fromYmd(new Date().getFullYear(), new Date().getMonth() + 1, new Date().getDate()).getLunar();

    function getHoursArr(cHour) {
        var hoursArr = [cHour, cHour + 2, cHour + 4, cHour + 6, cHour + 8, cHour + 10, cHour + 12];
        var processedHoursArr = hoursArr.map(function (value) {
            // 如果元素大于 24，则减去 24
            if (value >= 24) {
                return value - 24;
            }
            // 否则保持不变
            return value;
        });
        return processedHoursArr;

    }

    var currentHourArr = getHoursArr(new Date().getHours());
    //获取当前整点时间
    // 显示当前日期、星期几和农历
    document.getElementById('current-date').innerHTML = currentDate;
    document.getElementById('current-weekday').innerHTML = currentWeekday;
    document.getElementById('current-lunar').innerHTML = lunarString;
    document.getElementById('current-hour').innerHTML = currentHourArr[0];
    document.getElementById('2-hours-later').innerHTML = currentHourArr[1];
    document.getElementById('4-hours-later').innerHTML = currentHourArr[2];
    document.getElementById('6-hours-later').innerHTML = currentHourArr[3];
    document.getElementById('8-hours-later').innerHTML = currentHourArr[4];
    document.getElementById('10-hours-later').innerHTML = currentHourArr[5];
    document.getElementById('12-hours-later').innerHTML = currentHourArr[6];

</script>
</body>
</html>