<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="../static/QWeather-Icons-1.6.0/font/qweather-icons.css" rel="stylesheet">
    <link href="../static/css/style-zh.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="../static/js/lunar.js"></script>
</head>
<body class="theme--light">
<div class="c-weather-current city-weather-cloudy" id="background">
    <div class="main-container">
        <div class="layout vertical" id="frame1">
            <p title="现在时间" id="current-time"></p>
            <p title="现在日期" id="current-date"></p>
            <p title="现在阴历" id="current-lunar"></p>
        </div>
        <div class="layout vertical" id="frame2">
            <div class="layout horizontal">
                <div class="layout vertical" id="weather">
                    <div class="weather-icon">
                        <i title="今日天气图标" class="qi-101"></i>
                    </div>
                    <div id="current-weather">
                        <p title="当前天气描述">多云</p><br>
                    </div>
                </div>
                <div class="layout vertical" style="height: 200px;justify-content: space-between">
                    <p title="当天最高温度">最高气温</p>
                    <p title="当前气温">当前</p>
                    <p title="当天最低温度">最低气温</p>
                </div>
                <div id="temperature-bar"></div>
                <div class="layout vertical" style="height: 200px;justify-content: space-between">
                    <p title="当天最高温度" id="today-highest-temp">10℃</p>
                    <p title="当前气温">3℃</p>
                    <p title="当天最低温度" id="today-lowest-temp">0℃</p>

                </div>
            </div>

        </div>
        <div class="layout vertical current-weather__bg" id="frame3">

            <div class="layout horizontal next-12-hours">
                <div class="layout vertical weather-forecast">
                    <div class="temp-forecast vertical">
                        <p class="temp-text">4℃</p>
                        <div class="temp-node" style="height: 100%;"></div>
                    </div>
                    <div class="next-hours-text" id="1-hours-later"></div>
                    <div class="precip-forecast vertical">
                        <div class="precip-node" style="height: 100%;"></div>
                        <p class="precip-text">0.0mm</p>
                    </div>
                    <div class="weather-icon">
                        <i class="qi-103"></i>
                    </div>
                </div>
                <div class="layout vertical weather-forecast">
                    <div class="temp-forecast vertical">
                        <p class="temp-text">6℃</p>
                        <div class="temp-node" style="height: 15%;"></div>
                    </div>
                    <div class="next-hours-text" id="3-hours-later"></div>
                    <div class="precip-forecast vertical">
                        <div class="precip-node" style="height: 10%;"></div>
                        <p class="precip-text">0.0mm</p>
                    </div>
                    <div class="weather-icon">
                        <i class="qi-104"></i>
                    </div>
                </div>
                <div class="layout vertical weather-forecast">
                    <div class="temp-forecast vertical">
                        <p class="temp-text">9℃</p>
                        <div class="temp-node" style="height: 40%;"></div>
                    </div>
                    <div class="next-hours-text" id="5-hours-later"></div>
                    <div class="precip-forecast vertical">
                        <div class="precip-node" style="height: 10%;"></div>
                        <p class="precip-text">0.0mm</p>
                    </div>
                    <div class="weather-icon">
                        <i class="qi-104"></i>
                    </div>
                </div>
                <div class="layout vertical weather-forecast">
                    <div class="temp-forecast vertical">
                        <p class="temp-text">7℃</p>
                        <div class="temp-node" style="height: 90%;"></div>
                    </div>
                    <div class="next-hours-text" id="7-hours-later"></div>
                    <div class="precip-forecast vertical">
                        <div class="precip-node" style="height: 00%;"></div>
                        <p class="precip-text">0.0mm</p>
                    </div>
                    <div class="weather-icon">
                        <i class="qi-104-fill"></i>
                    </div>
                </div>
                <div class="layout vertical weather-forecast">
                    <div class="temp-forecast vertical">
                        <p class="temp-text">-3℃</p>
                        <div class="temp-node" style="height: 40%;"></div>
                    </div>
                    <div class="next-hours-text" id="9-hours-later"></div>
                    <div class="precip-forecast vertical">
                        <div class="precip-node" style="height: 40%;"></div>
                        <p class="precip-text">0.0mm</p>
                    </div>
                    <div class="weather-icon">
                        <i class="qi-104-fill"></i>
                    </div>
                </div>
                <div class="layout vertical weather-forecast">
                    <div class="temp-forecast vertical">
                        <p class="temp-text">-2℃</p>
                        <div class="temp-node" style="height: 40%;"></div>
                    </div>
                    <div class="next-hours-text" id="11-hours-later"></div>
                    <div class="precip-forecast vertical">
                        <div class="precip-node" style="height: 20%;"></div>
                        <p class="precip-text">0.0mm</p>
                    </div>
                    <div class="weather-icon">
                        <i class="qi-1021"></i>
                    </div>
                </div>
                <div class="layout vertical weather-forecast">
                    <div class="temp-forecast vertical">
                        <p class="temp-text">7℃</p>
                        <div class="temp-node" style="height: 40%;"></div>
                    </div>
                    <div class="next-hours-text" id="13-hours-later"></div>
                    <div class="precip-forecast vertical">
                        <div class="precip-node" style="height: 20%;"></div>
                        <p class="precip-text">0.0mm</p>
                    </div>
                    <div class="weather-icon">
                        <i class="qi-101"></i>
                    </div>
                </div>
            </div>


            <div id="weather-snapshot">
                <p>今天天气一般，适合在家打上单</p>
            </div>
        </div>

    </div>
</div>
</body>
<script src="../static/js/loaded.js"></script>
</html>